<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">

<head>
	<title>Teleconsultation</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">
	<!-- <link rel="stylesheet" href="teleconsultation.css"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>

	<script>
		var name = prompt("Please enter your name");
	</script>
	<link rel="shortcut icon" href="images/dent.jpg" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
	<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/style.css/magnific-popup.css">
	<link rel="stylesheet" href="css/aos.css">
	<link rel="stylesheet" href="css/ionicons.min.css">
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="css/jquery.timepicker.css">
	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/icomoon.css">
	    <link rel='stylesheet' type='text/css' media='screen' href='teleconsultation.css'>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="/">🦷 <span>Bright Smile Dental</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
			aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a href="http://127.0.0.1:5000" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="#" class="nav-link">Teleconsultation</a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- END nav -->
<section class="home-slider owl-carousel">
  <div class="slider-item bread-item"
    style="background-image: url('images/bg_1.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container" data-scrollax-parent="true">
      <div class="row slider-text align-items-end">
        <div class="col-md-7 col-sm-12 ftco-animate mb-5">
          <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a
                href="http://127.0.0.1:5000">Home</a></span> <span>Teleconsultation</span></p>
          <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Teleconsultation</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-services">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-2">Our Service Keeps you Smile</h2>
        <p>Our experienced team of dental professionals is committed to providing you with top-quality care.</p>
      </div>
    </div>
  </div>
	  	<div class="row justify-content-center m-5">
	<ul id="messages"></ul>
		</div>
				<div class="row justify-content-center m-5">

    <button class="btn btn-lg bg-success btn-block text-center mx-auto" style="width: 200px;" id="join-btn">Join Call</button>
		</div>
		<div class="row justify-content-center">

    <div id="stream-wrapper">
        <div id="video-streams"></div>

        <div id="stream-controls">
            <button id="leave-btn" class="btn btn-lg bg-success btn-block text-center mx-3 my-5" style="width: 200px;">Leave Stream</button>
            <button id="mic-btn" class="btn btn-lg bg-success btn-block text-center mx-3 my-5" style="width: 200px;">Mic On</button>
            <button id="camera-btn" class="btn btn-lg bg-success btn-block text-center mx-3 my-5" style="width: 200px;">Camera on</button>
        </div>
    </div>
    </div>
	</div>
</section>
<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Bright Smile Dental.</h2>
        </div>
        <ul class="ftco-footer-social list-unstyled float-md-left float-lft ">
          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="http://127.0.0.1:5000" class="py-2 d-block">Home</a></li>
            <li><a href="http://127.0.0.1:5000/about" class="py-2 d-block">About</a></li>
            <li><a href="http://127.0.0.1:5000/services" class="py-2 d-block">Services</a></li>
            <li><a href="http://127.0.0.1:5000/doctors" class="py-2 d-block">Doctors</a></li>
            <li><a href="http://127.0.0.1:5000/blog" class="py-2 d-block">Blog</a></li>
            <li><a href="http://127.0.0.1:5000/contact" class="py-2 d-block">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 pr-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Recent Blog</h2>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4"
              style="background-image: url('images/ortho1.jpg');"></a>
            <div class="text">
              <h3 class="heading"><a href="{{ url_for('blog_single_1') }}">Orthodontic Treatment / Braces</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> Sept 20, 2021</a></div>
                <div><a href="#"><span class="icon-person"></span> TRAN Marie </a></div>
                <div><a href="#"><span class="icon-chat"></span> 3</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4"
              style="background-image: url('images/ortho2.jpg');"></a>
            <div class="text">
              <h3 class="heading"><a href="{{ url_for('blog_single_2') }}">Dental Implants</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> Sept 20, 2021</a></div>
                <div><a href="#"><span class="icon-person"></span> TRAN Marie </a></div>
                <div><a href="#"><span class="icon-chat"></span> 3</a></div>
              </div>
            </div>
          </div>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4"
              style="background-image: url('images/ortho6.jpg');"></a>
            <div class="text">
              <h3 class="heading"><a href="{{ url_for('blog_single_6') }}">Composite Restoration</a></h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> Sept 20, 2021</a></div>
                <div><a href="#"><span class="icon-person"></span> TRAN Marie </a></div>
                <div><a href="#"><span class="icon-chat"></span> 3</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Office</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">193 Rue Constant Coquelin, 94400 Vitry-sur-Seine</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+33 1 98 56 12 25</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span
                    class="text">brightsmiledental@gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved
          <!-- | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- <script src="https://download.agora.io/sdk/release/AgoraRTC_N.js"></script> -->

<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" />
    </svg></div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>

		var socket = io();

		socket.emit('joining msg', name);

		$('form').submit(function (e) {
			e.preventDefault();            // will prevent page reloading
			socket.emit('chat message', (name + ':  ' + $('#m').val()));
			$('#messages').append($('<li class="list">').text('You:  \n' + $('#m').val()));
			$('#m').val('');
			return false;
		});
		socket.on('chat message', function (msg) {
			$('#messages').append($('<li>').text(msg));
		});

	</script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/scrollax.min.js"></script>
  <!--<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{{ url_for('static', filename='js/google-map.js') }}"></script>-->
<script src="js/main.js"></script>
<script src="AgoraRTC_N-4.17.2.js"></script>
<script src='teleconsultation.js'></script>

</body>

</html>