<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="/">🦷 <span>Bright Smile Dental</span></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
			aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item {% if request.path == url_for('home') %}active{% endif %}"><a href="/" class="nav-link">Home</a></li>

				{% if current_user.is_authenticated and current_user.user_role == UserRole.DOCTOR %}
					<li class="nav-item {% if request.path == url_for('patient_list') %}active{% endif %}">
						<a class="nav-link" href="{{ url_for('patient_list') }}">Patients List</a>
					</li>
					{% endif %}
				{% if current_user.is_authenticated %}
				<li class="nav-item {% if request.path == url_for('room_teleconsultation') %}active{% endif %}"><a href="{{ url_for('room_teleconsultation') }}" class="nav-link">Teleconsultation</a></li>
				<li class="nav-item {% if request.path == url_for('room_home') %}active{% endif %}"><a href="{{ url_for('room_home') }}" class="nav-link">Chat Room</a></li>
				<li class="nav-item {% if request.path == url_for('appointment_list') %}active{% endif %}"><a href="{{ url_for('appointment_list') }}" class="nav-link">Appointment</a></li>

				<!-- Avatar + Nom Prénom -->
				<li class="nav-item {% if request.path == url_for('info_perso') %}active{% endif %}">
					<a class="nav-link" href="{{ url_for('info_perso') }}">
						{% if current_user.avatar %}
						<img src="{{ current_user.avatar }}" class="rounded-circle" width="20"
							alt="{{ current_user.name }}" />
						{% else %}
						<img src="{{ url_for('static', filename='images/avatar.png') }}" class="rounded-circle"
							width="20" alt="{{ current_user.name }}" />
						{% endif %}
						{{ current_user.name }}
					</a>
				</li>

				<!-- Bouton Déconnexion -->
				<li class="nav-item cta mr-2">
					<a class="nav-link" href="{{ url_for('user_signout') }}"><span>Sign out</span></a>
				</li>
				<!--<li class="nav-item cta"><a href="" class="nav-link" data-toggle="modal"
						data-target="#modalRequest"><span>Make an Appointment</span></a></li>-->

				{% else %}
				<li class="nav-item {% if request.path == url_for('about') %}active{% endif %}"><a href="{{ url_for('about') }}" class="nav-link">About</a></li>
				<li class="nav-item {% if request.path == url_for('services') %}active{% endif %}"><a href="{{ url_for('services') }}" class="nav-link">Services</a></li>
				<li class="nav-item {% if request.path == url_for('doctors') %}active{% endif %}"><a href="{{ url_for('doctors') }}" class="nav-link">Doctors</a></li>
				<li class="nav-item {% if request.path == url_for('blog') or request.path == url_for('blog_single_1') or request.path == url_for('blog_single_2') 
				or request.path == url_for('blog_single_3') or request.path == url_for('blog_single_4') or request.path == url_for('blog_single_5') 
				or request.path == url_for('blog_single_6') %}active{% endif %}"><a href="{{ url_for('blog') }}" class="nav-link">Blog</a></li>
				<li class="nav-item {% if request.path == url_for('contact') %}active{% endif %}"><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
				<li class="nav-item cta mr-2"><a href="{{ url_for('user_signin') }}" class="nav-link"><span>Sign
							in</span></a></li>
				<li class="nav-item cta"><a href="{{ url_for('user_register') }}" class="nav-link"><span>Sign up
							free</span></a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
<!-- END nav -->