{% extends 'layout/base.html' %}

{% block title %} Immunization de {{ immunization.patient }} {% endblock %}

{% block content %}
<h1 class="subject mt-5 mb-5">Immunization de {{ immunization.patient }}</h1>

{% if immunization %}

<div class="row justify-content-center">
  <div class="col-md-10 col-xs-12 mb-5">
    <table class="table table-hover table-bordered">
      <tr class="bg-light">
        <th class="text-center">Id</th>
        <th class="text-center">Statut</th>
        <th class="text-center">Code du vaccin</th>
        <th class="text-center">Date du vaccin</th>
      </tr>
      <tr>
        <td class="text-center">{{ immunization.identifier }}</td>
        <td class="text-center">{{ immunization.status }}</td>
        <td class="text-center">{{ immunization.vaccineCode }}</td>
        <td class="text-center" class="my-date">{{ immunization.occurrenceDateTime }}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row justify-content-center mb-5">
  <a class="btn btn-primary mt-2" href="{{ url_for('patient_detail', patient_id=immunization.identifier) }}"
    role="button">Retourner à la page précédente</a>
</div>

{% else %}
<p class="text-center"><i>Aucun résultats retourné!!!</i></p>
{% endif %}

<script>
  window.onload = function () {
    let d = document.getElementsByClassName('my-date')
    for (let i = 0; i < d.length; i++)
      d[i].innerText = moment(d[i].innerText).locale('fr').fromNow()
  }

</script>

{% endblock %}