{% extends 'layout/base.html' %}

{% block title %} Mes informations personnelles {% endblock %}

{% block content %}
<h1 class="subject mt-5 mb-5">Mes informations personnelles</h1>

{% if current_user.is_authenticated %}
<div class="row justify-content-center mb-5">
  {% if current_user.avatar %}
  <img src="{{ current_user.avatar }}" class="rounded-circle" width="300" alt="{{ current_user.name }}"/>
  {% else %}
  <img src="{{ url_for('static', filename='images/avatar.png') }}" class="rounded-circle" width="300" alt="{{ current_user.name }}"/>
  {% endif %}
</div>
<div class="row justify-content-center mb-4">
  <div class="col-md-6 col-xs-12 text-center table-responsive">
    <table class="table table-bordered table-hover">
      <tr>
        <th class="bg-light">Identifiant</th>
        <td class="text-center">{{ current_user.username }}</td>
      </tr>
      <tr>
        <th class="bg-light">Nom et Prénom</th>
        <td class="text-center">{{ current_user.name }}</td>
      </tr>
      <tr>
        <th class="bg-light">Email</th>
        <td class="text-center">{{ current_user.email }}</td>
      </tr>
    </table>
  </div>
</div>
{% endif %}

{% endblock %}