{% extends 'layout/base.html' %}

{% block title %} Temperature of {{ observation.patient }} {% endblock %}

{% block content %}
<section class="home-slider owl-carousel">
  <div class="slider-item bread-item"
    style="background-image: url('{{ url_for('static', filename='images/bg_1.jpg') }}');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container" data-scrollax-parent="true">
      <div class="row slider-text align-items-end">
        <div class="col-md-7 col-sm-12 ftco-animate mb-5">
          <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a
                href="/">Home</a></span> <span>Temperature of {{ observation.patient }}</span></p>
          <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Temperature of {{
            observation.patient }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

{% if observation %}

<div class="row justify-content-center mt-5">
  <div class="col-md-10 col-xs-12 mb-5">
    <table class="table table-hover table-bordered">
      <tr class="bg-light">
        <th class="text-center">ID</th>
        <th class="text-center">Status</th>
        <th class="text-center">Effective Date</th>
        <th class="text-center">Temperature</th>
        <th class="text-center">Action</th>
      </tr>
      <tr>
        <td class="text-center">{{ observation.id }}</td>
        <td class="text-center">{{ observation.status }}</td>
        <td class="text-center">{% if observation.effectiveDateTime %}{{
          observation.effectiveDateTime.strftime('%d/%m/%Y') }}{% else %}None{% endif %}</td>
        <td class="text-center">{{ observation.value }} {{ observation.unit }}</td>
        <td class="text-center">
          <a href="{{ url_for('patient_edit_observation', observation_id=observation.id) }}">
            Edit
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row justify-content-center mb-5">
  <a class="btn btn-primary mt-2" href="{{ url_for('patient_detail', patient_id=observation.id) }}" role="button">Go
    back to the previous
    page</a>
</div>

{% else %}
<p class="text-center"><i>No results returned!!!</i></p>
{% endif %}

{% endblock %}