{% extends 'layout/base.html' %}

{% block title %} Add a patient {% endblock %}

{% block content %}
<section class="home-slider owl-carousel">
  <div class="slider-item bread-item"
    style="background-image: url('{{ url_for('static', filename='images/bg_1.jpg') }}');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container" data-scrollax-parent="true">
      <div class="row slider-text align-items-end">
        <div class="col-md-7 col-sm-12 ftco-animate mb-5">
          <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a
                href="/">Home</a></span> <span>Add a new patient</span></p>
          <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Add a new patient</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-services">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-2">Our Service Keeps you Smile</h2>
        <p>Our experienced team of dental professionals is committed to providing you with top-quality care.</p>
      </div>
    </div>
  </div>
  <div class="container-wrap mt-5">
    <div class="row d-flex no-gutters justify-content-center">
      <!--<div class="col-md-6 img"
        style="background-image: url('{{ url_for('static', filename='images/image_4.jpg') }}');">
      </div>-->
      <div class="col-md-6 d-flex">
        <div class="about-wrap justify-content-center">
          <h1 class="mb-3 text-center text-white" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Add a
            new patient
          </h1>
          {% if err_msg %}
          <div class="alter alter-danger text-center">
            <h6 class="text-danger">{{ err_msg }}</h6>
          </div>
          {% endif %}
          <form method="post" class="form-signin">
            <div class="form-group">
              <label for="namePatient">Patient Name</label>
              <input type="text" id="namePatient" name="namePatient" class="form-control pl-3"
                placeholder="Patient Name" required autofocus style="border-radius: 10px">
            </div>
            <div class="form-group">
              <label>Patient Gender</label>
              <select class="form-control pl-3" name="genderPatient" required style="border-radius: 10px">
                <option value="" disabled selected hidden>Patient Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div class="form-group">
              <label for="birthDatePatient">Patient Birth Date</label>
              <input type="date" id="birthDatePatient" name="birthDatePatient" class="form-control pl-3"
                placeholder="Patient Birth Date" required autofocus style="border-radius: 10px">
            </div>
            <div class="form-group">
              <label for="addressPatient">Patient Address</label>
              <input type="text" id="addressPatient" name="addressPatient" class="form-control pl-3"
                placeholder="Patient Address" required autofocus style="border-radius: 10px">
            </div>
            <div class="form-group">
              <label for="emailPatient">Patient Email</label>
              <input type="email" id="emailPatient" name="emailPatient" class="form-control pl-3"
                placeholder="Patient Email" required autofocus style="border-radius: 10px">
            </div>
            <p class="text-white text-center">
              ***---------------------------------------------------------------------------------------------***</p>
            <div class="form-group">
              <label>Vaccine Status</label>
              <select class="form-control pl-3" name="statusVaccine" required style="border-radius: 10px">
                <option value="" disabled selected hidden>Vaccine Status</option>
                <option value="Completed">Completed</option>
                <option value="Entered in Error">Entered in Error</option>
                <option value="Not Done">Not Done</option>
              </select>
            </div>
            <div class="form-group">
              <label for="vaccineCode">Vaccine Code</label>
              <input type="number" id="vaccineCode" name="vaccineCode" class="form-control pl-3"
                placeholder="Vaccine Code" required autofocus style="border-radius: 10px">
            </div>
            <div class="form-group">
              <label for="occurrenceDateTime">Vaccine Date</label>
              <input type="date" id="occurrenceDateTime" name="occurrenceDateTime" class="form-control pl-3"
                placeholder="Vaccine Date" required autofocus style="border-radius: 10px">
            </div>
            <p class="text-white text-center">
              ***---------------------------------------------------------------------------------------------***</p>
            <div class="form-group">
              <label>Temperature Status</label>
              <select class="form-control pl-3" name="statusObservation" required style="border-radius: 10px">
                <option value="" disabled selected hidden>Temperature Status</option>
                <option value="Amended +">Amended +</option>
                <option value="Preliminary">Preliminary</option>
                <option value="Final">Final</option>
              </select>
            </div>
            <div class="form-group">
              <label for="effectiveDateTime">Effective Date</label>
              <input type="date" id="effectiveDateTime" name="effectiveDateTime" class="form-control pl-3"
                placeholder="Effective Date" required autofocus style="border-radius: 10px">
            </div>
            <div class="form-group">
              <label for="value">Temperature</label>
              <input type="number" id="value" name="value" class="form-control pl-3" min="35" max="42" step="0.1"
                placeholder="Temperature" required autofocus style="border-radius: 10px">
            </div>
            <div class="form-group">
              <label>Unit</label>
              <select class="form-control pl-3" name="unit" required style="border-radius: 10px">
                <option value="" disabled selected hidden>Unit</option>
                <option value="Cel">Cel</option>
              </select>
            </div>
            <p class="text-white text-center">
              ***---------------------------------------------------------------------------------------------***</p>
            <div class="form-group">
              <label>Practitioner Name</label>
              <select class="form-control pl-3" name="practitioner_id" required style="border-radius: 10px">
                <option value="" disabled selected hidden>Practitioner Name</option>
                {% for practitioner in practitioners %}
                {% if practitioner.id >= 2 %}
                <option value="{{ practitioner.id }}">{{ practitioner.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            <button class="btn btn-lg bg-white btn-block text-center mx-auto" type="submit" style="width: 200px;">Add a
              new patient</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section contact-section ftco-degree-bg">
  <div class="container">
    <div class="row block-9 justify-content-center">
      <div class="col-md-6 pr-md-5">


      </div>
    </div>
  </div>
</section>

{% endblock %}