{% extends 'layout/base.html' %}

{% block title %} Patient {{ patient.name }} {% endblock %}

{% block content %}
<h1 class="subject mt-5 mb-5">Patient {{ patient.name }}</h1>

{% if patient %}

<div class="row justify-content-center">
    <div class="col-md-10 col-xs-12 mb-5">
        <table class="table table-hover table-bordered">
            <tr class="bg-light">
                <th class="text-center">Id du patient</th>
                <th class="text-center">Nom et Prénom</th>
                <th class="text-center">Date de naissance</th>
                <th class="text-center">Sexe</th>
                <th class="text-center">Adresse</th>
            </tr>
            <tr>
                <td class="text-center">{{ patient.identifier }}</td>
                <td class="text-center">{{ patient.name }}</td>
                <td class="text-center" class="my-date">{{ patient.birthDate }}</td>
                <td class="text-center">{{ patient.gender }}</td>
                <td class="text-center">{{ patient.address }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row justify-content-center mb-4">
    <div class="col-xs-4">
        <a class="btn btn-success mt-2 mx-3"
            href="{{ url_for('immunization_detail', immunization_id=patient.identifier) }}" role="button">Voir son
            immunization</a>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-info text-white mt-2 mx-3"
            href="{{ url_for('observation_detail', observation_id=patient.identifier) }}" role="button">Voir sa
            température</a>
    </div>
    <div class="col-xs-4">
        <a class="btn btn-danger text-white mt-2 mx-3"
            href="{{ url_for('practitioner_detail', practitioner_id=patient.identifier) }}" role="button">Voir son praticien</a>
    </div>
</div>
<div class="row justify-content-center mb-5">
    <div class="col-xs-4">
        <a class="btn btn-primary mt-2 mx-3" href="{{ url_for('patient_list') }}" role="button">Retourner à la page
            précédente</a>
    </div>
</div>

{% else %}
<p class="text-center"><i>Aucun résultats retourné!!!</i></p>
{% endif %}

<script>
    window.onload = function () {
        let d = document.getElementsByClassName('my-date')
        for (let i = 0; i < d.length; i++)
            d[i].innerText = moment(d[i].innerText).locale('fr').fromNow()
    }

</script>

{% endblock %}