{% extends 'layout/base.html' %}

{% block title %} Practitioner {{ practitioner.name }} {% endblock %}

{% block content %}
<section class="home-slider owl-carousel">
  <div class="slider-item bread-item"
    style="background-image: url('{{ url_for('static', filename='images/bg_1.jpg') }}');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container" data-scrollax-parent="true">
      <div class="row slider-text align-items-end">
        <div class="col-md-7 col-sm-12 ftco-animate mb-5">
          <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a
                href="/">Home</a></span> <span>Practitioner {{ practitioner.name }}</span></p>
          <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Practitioner {{
            practitioner.name }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

{% if practitioner %}

<div class="row justify-content-center mt-5">
  <div class="col-md-10 col-xs-12 mb-5">
    <table class="table table-hover table-bordered">
      <tr class="bg-light">
        <th class="text-center">Full Name</th>
        <th class="text-center">Gender</th>
        <th class="text-center">Birthday Date</th>
        <th class="text-center">Address</th>
        <th class="text-center">Email</th>
        <th class="text-center">Position</th>
        <th class="text-center">Language</th>
        <!--<th class="text-center">Action</th>-->
      </tr>
      <tr>
        <td class="text-center">{{ practitioner.name }}</td>
        <td class="text-center">{{ practitioner.gender }}</td>
        <td class="text-center">{{ practitioner.birthDate.strftime('%d/%m/%Y') }}</td>
        <td class="text-center">{{ practitioner.address }}</td>
        <td class="text-center">{{ practitioner.email }}</td>
        <td class="text-center">{{ practitioner.position }}</td>
        <td class="text-center">{{ practitioner.language }}</td>
        <!--<td class="text-center">
          <a href="{{ url_for('patient_edit_practitioner', practitioner_id=practitioner.id) }}">Edit</a>
        </td>-->
      </tr>
    </table>
  </div>
</div>
<!--<div class="row justify-content-center mb-5">
  <a class="btn btn-primary mt-2" href="{{ url_for('patient_detail', patient_id=practitioner.id) }}"
    role="button">Go back to the previous
            page</a>
</div>-->

{% else %}
<p class="text-center"><i>No results returned!!!!!!</i></p>
{% endif %}

{% endblock %}