{% extends 'layout/base.html' %}

{% block title %} Send Room Code to Doctor {% endblock %}
{% block js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script type="text/javascript">
  (function () {
    emailjs.init('nB4JLd4pR6iDIXwM8');
  })();
</script>
<script type="text/javascript">
  window.onload = function () {
    document.getElementById('contact-form').addEventListener('submit', function (event) {
      event.preventDefault();
      this.contact_number.value = Math.random() * 100000 | 0;
      var timestamp = new Date().toLocaleString();
      var formData = new FormData(this);
      formData.append('timestamp', timestamp);
      document.getElementById('timestamp').value = timestamp;

      emailjs.sendForm("service_8v5znvm", "template_o7lyt6a", this)
        .then(function () {
          console.log('SUCCESS!');
        }, function (error) {
          console.log('FAILED...', error);
        });
      this.reset();
    });
  }
</script>
{% endblock %}

{% block content %}
<section class="home-slider owl-carousel">
  <div class="slider-item bread-item"
    style="background-image: url('{{ url_for('static', filename='images/bg_1.jpg') }}');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container" data-scrollax-parent="true">
      <div class="row slider-text align-items-end">
        <div class="col-md-7 col-sm-12 ftco-animate mb-5">
          <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a
                href="/">Home</a></span> <span>Send Room Code to Doctor</span></p>
          <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Send Room Code to Doctor</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-services">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-2">Our Service Keeps you Smile</h2>
        <p>Our experienced team of dental professionals is committed to providing you with top-quality care.</p>
      </div>
    </div>
  </div>
  <div class="container-wrap mt-5">
    <div class="row d-flex no-gutters justify-content-center">
      <!--<div class="col-md-6 img"
        style="background-image: url('{{ url_for('static', filename='images/image_4.jpg') }}');">
      </div>-->
      <div class="col-md-6 d-flex">
        <div class="about-wrap justify-content-center">
          <h1 class="mb-3 text-center text-white" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Send
            Room Code to Doctor
          </h1>
          <form class="form-signin" id="contact-form">
            <input type="hidden" name="contact_number">
            <input type="hidden" name="timestamp" id="timestamp">
            <div class="form_group">
              <label>Patient Name <span style="color: red;">*</span></label>
              <input type="text" class="form-control pl-3 mb-4" placeholder="Patient name" name="patient_name" autofocus
                style="border-radius: 10px" required>
            </div>
            <div class="form-group">
              <label>Practitioner Name <span style="color: red;">*</span> <a href="{{ url_for('doctors') }}"
                  target="_blank" style="color: #ffffff; text-decoration: underline;">See our doctor list</a></label>
              <select class="form-control pl-3" name="practitioner_name" required style="border-radius: 10px">
                <option value="" disabled selected hidden>Practitioner Name</option>
                {% for practitioner in practitioners %}
                {% if practitioner.id >= 2 %}
                <option value="{{ practitioner.name }}">{{ practitioner.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="form_group">
              <label>Room Code <span style="color: red;">*</span></label>
              <input type="text" class="form-control pl-3 mb-4" name="roomCode" placeholder="Room Code" autofocus
                style="border-radius: 10px" required>
            </div>
            <div class="form-group">
              <label>Patient Email <span style="color: red;">*</span></label>
              <input type="email" name="patient_email" class="form-control pl-3 mb-4" placeholder="Patient Email"
                autofocus style="border-radius: 10px" required>
            </div>
            <div class="form-group">
              <label>Practitioner Email <span style="color: red;">*</span></label>
              <input type="email" name="practitioner_email" class="form-control pl-3 mb-4"
                placeholder="Practitioner Email" autofocus style="border-radius: 10px" required>
            </div>
            <button class="btn btn-lg bg-white btn-block text-center mx-auto" type="submit"
              style="width: 300px;">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section contact-section ftco-degree-bg">
  <div class="container">
    <div class="row block-9 justify-content-center">
      <div class="col-md-6 pr-md-5">


      </div>
    </div>
  </div>
</section>

<script>
  const emailDoctor = document.getElementById('emailDoctor');
  const emailPatient = document.getElementById('emailPatient');
  const emailPatientSection = document.getElementById('emailPatientSection');
  const emailPractitionerSection = document.getElementById('emailPractitionerSection');

  emailDoctor.addEventListener('change', function () {
    emailPractitionerSection.style.display = 'block';
    emailPatientSection.style.display = 'none';
  });

  emailPatient.addEventListener('change', function () {
    emailPractitionerSection.style.display = 'none';
    emailPatientSection.style.display = 'block';
  });
</script>


{% endblock %}